body {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

#logo {
	position: relative;
	top: 210px;
	left: 695px;

}
img {
	height: 97px;
	width: 272px;
}

#searchbar {
	position: relative;
	top: 220px;
	left: 578px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
	height: 40px;
	width: 490px;
	padding: 3px;
	font-size: 18px;
}
.buttons {
	height: 36px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-size: 13px;
	font-weight: bold;
	padding: 0 16px;
	margin: 11px 4px;
	text-align: center;

}
#searchbutton {
	position: relative;
	top: 240px;
	left: 690px;
}
#luckybutton {
	position: relative;
	top: 182px;
	left: 827px;
}
.buttons:hover {
	color: #222;
	border: 1px solid #c6c6c6;
}
#header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	top: -260px;
}
#header li {
	display: block;
	text-align: center;
	padding: 14px 10px;
	float: right;
}
li a {
	color: #000;
	text-decoration: none;
	opacity: .75;
}
#appsicon {
	height: 26px;
	width: 26px;
	opacity: .75;
	margin-top: -3.75px;
}
