body {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

#logo {
	position: relative;
	top: 210px;
	left: 695px;

}
img {
	height: 97px;
	width: 272px;
}

#searchbar {
	position: relative;
	top: 220px;
	left: 578px;
	border: 1px solid #ddd;
	box-shadow: 0px 1px 4px #bbb;
	height: 40px;
	width: 490px;
	padding: 3px;
	font-size: 18px;
	background: url(https://ugitch.github.io/google-homepage/assets/img/mic.png) 0 0 no-repeat;
	background-position: right;
	background-size: auto 75%;
}
#searchbar:hover {
	box-shadow: 1px 2px 4px #999;
}
.buttons {
	height: 36px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-size: 13px;
	font-weight: bold;
	padding: 0 16px;
	margin: 11px 4px;
	text-align: center;

}
#searchbutton {
	position: relative;
	top: 240px;
	left: 690px;
}
#luckybutton {
	position: relative;
	top: 182px;
	left: 827px;
}
.buttons:hover {
	color: #222;
	border: 1px solid #c6c6c6;
}
#header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	top: -260px;
}
#header li {
	display: block;
	text-align: center;
	padding: 14px 10px;
	float: right;
}
li a {
	color: #000;
	text-decoration: none;
	opacity: .75;
}
#appsicon {
	height: 26px;
	width: 26px;
	opacity: .75;
	margin-top: -3.75px;
}
#footer {
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 38px;
	color: #666;
	}
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#leftfooter li {
	float: left;
	display: block;
	text-align: center;
	padding-left: 4px;
	padding-right: 22px;
	padding-bottom: 12px;

}
#rightfooter li {
	float: right;
	display: block;
	text-align: center;
	padding-left: 4px;
	padding-right: 22px;
	padding-bottom: 12px;
